<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}">
    <title>Ataraxia</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i> 
        </label>
    <label for="" class="logo">
       ATARAXIA.COM
    </label>
    <ul>
        <li> <a href="#" class="activi">INICIO</a></li>
        <li><a href="#">Psicologos</a></li>
        <li><a href="#">Comunidad</a></li>
        <li><a href="#">Contenido</a></li>
        <li><a href="#">Mi perfil</a></li>
    </ul>
    </nav>
</body>
</html>