<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/mainNew.css" th:href="@{css/mainNew.css}">
    <div th:insert="/layout/navbarStart :: head"></div>
    <title>Psicologos</title>
</head>
<body>
    <div th:insert="/layout/headerNew :: header"></div>

    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Lista de Psicologos</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Provincia</th>
                                    <th scope="col">Localidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="psico:${listPisco}">
                                    <th scope="row" th:text="${psico.idUser}"></th>
                                    <th th:text="${psico.name}"></th>
                                    <td th:text="${psico.lastname}"></td>
                                    <td th:text="${psico.email}"></td>
                                    <td th:text="${psico.provincia}"></td>
                                    <td th:text="${psico.localidad}"></td>
                                    <!-- <td th:text="${psico}"></td>
                                    <td th:text="${psico}"></td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="/layout/script :: body"></div>
    <script th:inline="javascript" src="../static/js/main.js" th:src="@{js/main.js}"></script>
</body>
</html>